
{% extends '_templates/base.njk' %}
{% block page_title %}Restaurants{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Here are all the ways you can explore the beautiful city of Austin!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur cumque sed tempora unde praesentium libero dolorem optio aliquam consequuntur delectus inventore est, enim fuga neque omnis, deserunt aliquid, iste magnam?</p>
    </div>
  </div>
</div>
{% endblock %}