
{% extends '_templates/base.njk' %}
{% block page_title %} Home {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Here are all the ways you can explore the <span style="color:#FF7733;font-weight:bold" >beautiful </span> city of Austin!</h1>
      <p>The city of Austin is a large city in Texas. It's known for its wackiness, nightlife, and extraordinary music. Hailing as the live music capitol of the world, Austin is home to so many venues. The city has so much to offer - everything from dive bars to hiking scences to tasty restaurants, Austin has a place for everyone! Look around, stay awhile, try a place, and keep Austin weird! </p>
    </div>
  <div class="row">
    {% for landmarks in places.landmarks %}
    <div class="col-sm-6 col-lg-6">
      <div class="card mb-4 border-dark">
        <img src= "img/{{ landmarks.image }}" class="card-img-top" alt="a restaurant in Austin"> 
        <div class="card-body">
          <h5 class="card-title">{{ landmarks.name }}</h5>
          <h6 class= "card-subhead text-secondary"> {{ landmarks.location }}</h6>
          <p class= "card-text"> {{ landmarks.activities }}</p>
          <a href="blog/{{ landmarks.slug }}.html" target="_blank" >Read More Here!</a>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
