{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Check out all the cool places to eat in Austin!</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus aliquid repudiandae quia tempore tempora dolor aspernatur est maxime corrupti rerum, ut sunt provident cum animi. Voluptates adipisci consequuntur in vero.</p>
  <div class="row">
    {% for restaurants in eating.restaurants %}
    <div class="col-sm-6 col-lg-6">
      <div class="card mb-4 border-dark">
        <img src= "img/{{ restaurants.image }}" class="card-img-top" alt="different images of Austin restaurants">
        <div class="card-body">
          <h5 class="card-title">{{ restaurants.name }}</h5>
          <h6 class= "card-subhead text-secondary"> {{ restaurants.address }} </h6>
          <p class="card-text text-dark">{{ restaurants.category }}</p>
          <a href="{{ restaurants.url }}" target="_blank" >Source</a>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
</article>
{% endblock %}