{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} Landmarks {% endblock %}

{% block content %}
  <article class="container p-2">
    <div class="row">
      <div id= "blog" class="col-md-6 p-2">
        <h5 class= "subheads">{{ name }}</h5>
        <h6 class= "subhead"> {{established }} </h6>
        <p> {{description | safe}} </p>
      </div>
      <div class="col-md-6">
        <img src="../img/{{ imagebw }}" alt="landmark in black and white" class="img-fluid mb-4">
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}