#jumbo {
  background: url(../img/cmc-austin-sunrise-20200614.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem
}

#jumbo {
  margin-bottom: 30px;
  font-family: 'Acme', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Lobster', cursive;
}

#subheader {
  font-family:Georgia, 'Times New Roman', Times, serif;
}